<h1 class="text-center mb-3">{{title}}</h1>
<form class="mt-1" action="api/members" method="POST" >
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" required>
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="d-grid gap-2">
     
  <button type="submit" class="btn btn-primary btn-lg ">Add New Member</button>
  </div>

</form>

<h4 class="mt-4">
    <ul class="list-group">
        {{#each members}}
        <li class="list-group-item p-4">
            {{this.name}} : {{this.email}}
        </li>
        {{/each}}
    </ul>
</h4>